Source: com.github.ryonakano.reco
Section: x11
Priority: extra
Maintainer: Ryo Nakano <ryonakaknock3@gmail.com>
Build-Depends: debhelper (>= 10.5.1),
               libgranite-dev (>= 5.4.0),
               libgtk-3-dev,
               libgstreamer1.0-dev,
               meson,
               valac
Standards-Version: 4.1.1

Package: com.github.ryonakano.reco
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, gstreamer1.0-libav
Description: Record talks to remember the contents later
