.record-button {
    background: linear-gradient(#ed5353, #c6262e);
    border-radius: 50%;
    border: none;
    color: #fafafa;
    transition: all 1s 0s ease;
}

.record-button-success {
    background: linear-gradient(#68b723, #3a9104);
    border-radius: 50%;
    border: none;
    color: #fafafa;
    transition: all 1s 0s ease;
}

.buttons-without-border {
    background: none;
    border: none;
}
