[Desktop Entry]
Name=Reco
GenericName=Audio Recording App
Comment=Record talk to remember its content later
Categories=Audio;Utility;Recorder;
Exec=com.github.ryonakano.reco %U
Icon=com.github.ryonakano.reco
Terminal=false
Type=Application
